{% extends 'base.html' %}
{% block breadcrumb %}
    {{ super() }}
    <li><a href="{{ url_for('.list_view') }}">管理员配置</a></li>
        <li class="active">新增管理员</li>
{% endblock %}
{% block page_content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <form class="form-horizontal" name="pop" role="form" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">登录邮箱 </label>
                            <div class="col-sm-9">
                                <input type="email" id="login_email" name="login_email"
                                       placeholder="公司邮箱" autocomplete="off" value=""
                                       class="col-xs-10 col-sm-5"
                                       data-easyform="email;real-time;ajax:check_data('login_email');"
                                       data-message="邮箱必须为2-12位的英文字母数字以cicaero.com结尾"
                                       data-easytip="class:easy-blue;position:top;"
                                       data-message-ajax="邮箱已存在!"/>
                                <span class="red">(*请输入公司的邮箱, 要保证唯一性)</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">登录密码 </label>
                            <div class="col-sm-9">
                                <input type="password" id="password" name="password"
                                       placeholder="由6-20位英文、数字、下划线、英文标点符号组成" autocomplete="off"
                                       value=""
                                       class="col-xs-10 col-sm-5"
                                       data-easyform="length:6 20;char-english;"
                                       data-message="请输入由6-20位英文、数字、下划线、英文标点符号组成"
                                       data-easytip="class:easy-blue;position:right;"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">真实姓名 </label>

                            <div class="col-sm-9">
                                <input type="text" id="fullname" name="fullname" placeholder="真实姓名"
                                       class="col-xs-10 col-sm-5"
                                       data-easyform="regex:^[\w\u4e00-\u9fa5\s]{2,16}$;"
                                       data-message="请输入2-10位由中文、英文、数字、下划线组成的真实姓名"
                                       data-easytip="class:easy-blue;position:bottom;left:120;"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">是否管理员 </label>

                            <div class="col-sm-9">
                                <label>
                                    <input name="is_admin" id="is_admin" data-easyform="null;"
                                           class="ace ace-switch ace-switch-7" type="checkbox"/>
                                    <span class="lbl"></span>
                                </label>
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="button" id="form_submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block tail %}
    {{ super() }}
    <script type="text/javascript">
        function check_data($name) {
            var check_obj = $("input[name='" + $name + "']");
            var login_email = check_obj.val();
            if (/^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/.test(login_email)) {
                $.ajax(
                        {
                            type: "post",
                            url: "{{ url_for('.check_view') }}",
                            data: {"login_email": login_email},
                            dataType: 'json',
                            success: function (result) {
                                if (result.code == 0) {
                                    check_obj.trigger("easyform-ajax", true);
                                    return true;
                                }
                                else {
                                    check_obj.trigger("easyform-ajax", false);
                                    return false;
                                }
                            }
                        })
            }
        }
    </script>
{% endblock %}