<ul class="template-list">
    <li title="点击插入此内容">
<section style="border-style: none;border:0;margin: 1em 0; padding: 0;">
    <section style="margin-left: 1em; line-height: 1.4;"><span style="padding: 0.2em 0.5em; border-radius: 0.3em; color: white; font-size: 1em; text-align: center; background-color: rgb(102, 102, 102);"><span style="font-size: 1em; font-family: inherit; font-style: normal; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: rgb(255, 255, 255);">标题</span></span></section><section  style="margin-top: -0.7em;
                border: 1px solid #c0c8d1; border-radius: 0.4em;
                color: #333; font-size: 1em; ">
    <section style="padding: 1.4em 1em 1em;"><section style="font-size: 1em; font-family: inherit; font-style: normal; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: rgb(51, 51, 51);"><p>在离别的车站，她上了车，我没有像以往那样的目送那班车到消失，而是头也不回的走向家的方向。</p></section>
    </section></section></section>
    </li>

  <li title="点击插入此内容">
<section  style="margin: 5px 0px 0px;
     padding: 10px;
     border-style: none;
     border: 2.1px dashed rgb(182, 182, 182);
     font-size: 16px;
     line-height: 25px;
     color: rgb(51, 51, 51);
     background-color: rgb(244, 244, 244);">
    心若没有栖息的地方，到哪里都是在流浪
    </section>
    </li>
</ul>