{% extends 'base.html' %}
{% block head_css %}
     <link href="{{ static_url('jquery/chosen/chosen.css') }}" rel="stylesheet">
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ static_url('webuploader/webuploader.css') }}">
{% endblock %}
{% block head_tail %}
    <style>
        .li-feng {
            display: none;
        }

        #uploader .filelist div.file-panel span.feng {
            display: none;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
        <li>
            <a href="{{ back_url }}">订单管理</a>
        </li>
        <li class="active">申请退款</li>
{% endblock %}

{% block page_content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <form class="form-horizontal" role="form" id="form_data" name="pop">
                    {% if csrf_token %}                             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>                         {% endif %}
                        <input type="hidden" name="order_goods_id"
                               value="{{ data.order_goods_id }}">
                    <input type="hidden" name="order_price"  value="{{ data.price|default(0, True) }}">
                        <input type="hidden" name="order_id" value="{{ data.order_id }}">
                    <input type="hidden" name="return_url" value="{{ return_url }}">

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"
                                   for="form-field-1">
                                订单信息 </label>

                            <div class="col-sm-9">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>订单号</th>
                                        <th>实际支付金额</th>
                                        <th>运费</th>
                                        <th>商品总金额</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>{{ data.order_no }} </td>
                                        <td>{{ "%.2f"|format(data.price|default(0, True)|float/100) }}</td>
                                        <td>{{ "%.2f"|format(data.post_fee|default(0, True)|float/100) }}</td>
                                        <td>{{ "%.2f"|format(data.goods_total_price|default(0, True)|float/100) }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"
                                   for="form-field-1">
                                商品信息 </label>
                            <div class="col-sm-9">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>图片</th>
                                        <th>商品标题</th>
                                        <th>规格</th>
                                        <th>购买数量</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="{{ data.goods_image }}" width="60px"
                                                 height="60px">
                                        </td>
                                        <td>{{ data.goods_title }}</td>
                                        <td>{{ data.goods_specs }}</td>
                                        <td>{{ data.quantity }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"
                                   for="form-field-1">
                                <span class="red">*</span>退款金额 </label>
                            <div class="col-sm-9">
                                <input type="text" id="refund_fee" name="refund_fee"
                                       class="col-xs-10 col-sm-5" data-easyform='money;ajax:check_data("refund_fee");'
                                       data-message='退款的金额不能大于订单实际支付的金额,并且要大于0' data-easytip='class:easy-blue;position:right;'
                                       placeholder="退款的金额不能大于订单实际支付的金额,并且要大于0"/>
                                <span class="red">(*退款的金额不能大于订单实际支付的金额,并且要大于0)</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"
                                   for="form-field-1">
                                <span class="red">*</span>申请退款原因 </label>
                            <div class="col-sm-9">
                                <select class="chosen-select col-xs-10 col-sm-9" id="refund_reason"
                                        name="refund_reason"
                                        data-easyform="length:1 10;char-normal;"
                                        data-message="请选择申请退款原因"
                                        data-easytip="class:easy-blue;position:top;">
                                    <option value="">&nbsp;</option>
                                    {% for item in "refundreason"|constant_list %}
                                        <option value="{{ item.value }}"> {{ _(item.name) }} </option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"
                                   for="form-field-1">
                                <span class="red">*</span>问题描述 </label>
                            <div class="col-sm-9">
                                <textarea class="col-xs-10 col-sm-5" rows="7" name="remark"
                                          placeholder="最大长度500位" data-easyform="length:1 500;"
                                       data-message="请输入问题描述,最大长度500字"
                                       data-easytip="class:easy-blue;position:right;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"
                                   for="image">图片信息 </label>

                            <div class="col-sm-9">
                                <div id="filePicker"></div>
                                <span style="color:#DAD8D8;">为了帮助我们更好的解决问题，请您上传图片.</span>
                                <span style="color:red;">每张图片限1M, 最多限上传1张, 带对勾的代表成功上传.</span>
                                <div id="uploader" class="wu-example">
                                    <div class="queueList filled"></div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="button" id="form_submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}
   <script type="text/javascript"
            src="{{ static_url('jquery/chosen/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('webuploader/webuploader.nolog.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('webuploader/images_upload.js') }}"></script>
{% endblock %}
{% block tail %}
    {{ super() }}
    <script type="text/javascript">
        jQuery(function ($) {
            uploader.options.swf = "{{ static_url('webuploader/Uploader.swf') }}";
            uploader.options.server =  '{{ url_for('uploader.upload_images_view') }}?p=refund';
            uploader.options.fileNumLimit = 11;
             $(".chosen-select").chosen();
        });
        function check_data($name) {
            var check_obj = $("input[name='" + $name + "']");
            var refund_price = Number(check_obj.val());
            var order_price = Number($("input[name='order_price']").val());
            if (refund_price > 0 && refund_price > order_price) {
                check_obj.trigger("easyform-ajax", false);
            }
            else {
                check_obj.trigger("easyform-ajax", true);
            }
        }
    </script>
{% endblock %}

