{% extends 'base.html' %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ static_url('webuploader/webuploader.css') }}">
{% endblock %}
{% block head_tail %}
    <style>
        .li-feng {
            display: none;
        }

        #uploader .filelist div.file-panel span.feng {
            display: none;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    {{ super() }}
        <li><a href="{{ url_for('.list_view') }}">角标管理</a></li>
        <li class="active">新增角标</li>
{% endblock %}

{% block page_content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">

                    <form class="form-horizontal" name="pop" role="form" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="group_name">
                                <span class="red">*</span>分组名 </label>

                            <div class="col-sm-9">
                                <input type="text" id="group_name"
                                       class="col-xs-10 col-sm-5" name="group_name"
                                       placeholder="请输入由1-25位由中文、英文、数字、下划线组成的名字"
                                       data-easyform="length:1 25;char-chinese;"
                                       data-message="请输入由1-25位由中文、英文、数字、下划线组成的名字"
                                       data-easytip="class:easy-blue;position:right;"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-1">
                                <span class="red">*</span>角标图 </label>

                            <div class="col-sm-9">
                                <div id="filePicker" data-easytip="position:bottom;class:easy-blue;"
                                       data-easytip-message="必须成功上传一个角标图"></div>
                                <span style="color:red;">每张图片限1M, 最多限上传11张, 带对勾的代表成功上传.</span>
                                <div id="uploader" class="wu-example">
                                    <div class="queueList filled"></div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix margin-top-20">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info uploadBtn hide" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    开始上传
                                </button>
                                <button class="btn btn-info" type="button" id="form_submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ static_url('webuploader/webuploader.nolog.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('webuploader/images_upload.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/pages/verify_upload.js') }}"></script>
{% endblock %}

{% block tail %}
    <script type="text/javascript">
        uploader.options.swf = "{{ static_url('webuploader/Uploader.swf') }}";
        uploader.options.server = '{{ url_for('uploader.upload_images_view') }}?p=cornermark';
        uploader.options.fileNumLimit = 11;
    </script>
{% endblock %}