{% import 'group/step.html' as steplib with context %}
{% extends 'base.html' %}
{% block head_css %}
    <link href="{{ static_url('jquery/chosen/chosen.css') }}" rel="stylesheet">
    {{ super() }}
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
        <li><a href="{{ url_for('.list_view') }}">频道管理</a></li>
        <li>修改频道</li>
        <li class="active">第1步:基本信息及选择模板</li>
{% endblock %}

{% block page_content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    {{ steplib.step_content(1, data.id) }}
                    <form class="form-horizontal" name="pop" role="form">
                        {% if csrf_token %}
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% endif %}
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="group_code">
                                <span class="red">*</span>频道编码 </label>

                            <div class="col-sm-9">
                                <input type="text" id="group_code" name="group_code"
                                       placeholder="1-15位数字组成" data="filter_easyform"
                                       class="col-xs-10 col-sm-5" readonly
                                       value="{{ data.group_code }}"/>
                                <span class="red">(*要保证唯一性)</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="name">
                                <span class="red">*</span>频道名称 </label>

                            <div class="col-sm-9">
                                <input type="text" id="name" name="name" value="{{ data.name }}"
                                       placeholder="请输入由1-18位由中文、英文、数字、下划线组成的名字"
                                       class="col-xs-10 col-sm-5"
                                       data-easyform="length:1 18;char-chinese;"
                                       data-message="请输入由1-18位由中文、英文、数字、下划线组成的名字"
                                       data-easytip="class:easy-blue;position:right;"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="channel_code">
                                <span class="red">*</span>渠道 </label>

                            <div class="col-sm-9">
                                <select multiple="" name="channel_code" id="channel_code"
                                        class="col-xs-10 col-sm-5 chosen-select tag-input-style"
                                        data-placeholder=" "
                                        data-easyform="regex:\S;"
                                        data-message="请选择对应的渠道"
                                        data-easytip="class:easy-blue;position:top;">
                                    {% for c in channel_list %}
                                        <option value='{{ c.channel_code }}'
                                                {% if c.channel_code in data.channels %}
                                                selected{% endif %}>{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="is_home">
                                是否作为首页 </label>

                            <div class="col-sm-9">
                                {% set is_home = data.is_home %}
                                <label>
                                    <input name="is_home" id="is_home" type="radio" class="ace"
                                           value="0" {% if is_home == 0 %}checked{% endif %}>
                                    <span class="lbl">&nbsp;否</span>
                                </label>
                                <label class="margin-left-10">
                                    <input name="is_home" id="is_home" type="radio" class="ace"
                                           value="1" {% if is_home == 1 %}checked{% endif %}>
                                    <span class="lbl">&nbsp;是</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="ordering">
                                <span class="red">*</span>位置 </label>

                            <div class="col-sm-9">
                                <label>
                                    <input type="text" class="input-mini" id="ordering"
                                           name="ordering" value="{{ data.ordering }}"
                                           placeholder="请输入1-255的数字, 越小越向前"
                                           data-easyform="number;uint:1 255;"
                                           data-message="请输入1-255的数字, 越小越向前"
                                           data-easytip="class:easy-blue;position:right;"/>
                                    <span class="red">(*越小越向前)</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="validity">
                                状态 </label>

                            <div class="col-sm-9">
                                {% set validity = data.validity %}
                                <label>
                                    <input name="validity" id="validity" type="radio" class="ace"
                                           value="1" {% if validity == 1 %}checked{% endif %}>
                                    <span class="lbl">&nbsp;显示</span>
                                </label>
                                <label>
                                    <input name="validity" id="validity" type="radio" class="ace"
                                           value="0" {% if validity == 0 %}checked{% endif %}>
                                    <span class="lbl">&nbsp;隐藏</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">
                                <span class="red">*</span> 栏目选项 </label>
                            <div class="col-sm-9">
                                <div class="group-templates">
                                    {% for t in data.template_list %}
                                        {% set t_id = t.id %}
                                        {% set icon_url = t.column_icon %}
                                        {% set is_show_icon = t.is_show_icon %}
                                        <div id="{{ t_id }}" class="inline-field col-sm-6 editMode"
                                             data="{{ t.template_code }}">
                                            <ul class="list-unstyled padding-top-10">
                                                <input type="hidden" name="tpl_code"
                                                       value="{{ t.template_code }}">
                                                <input type="checkbox" name="is_show_name"
                                                       data-easyform="null;"
                                                       style="display: none"
                                                       value="{{ t.is_show_name }}" checked="">
                                                <input type="checkbox" name="is_show_icon"
                                                       data-easyform="null;"
                                                       style="display: none"
                                                       value="{{ is_show_icon }}" checked="">
                                                <input type="checkbox" name="icon_url"
                                                       data-easyform="null;"
                                                       style="display: none" value="{{ icon_url }}"
                                                       checked="">
                                                <input type='hidden' name='group_template_id'
                                                       value='{{ t.id }}'/>
                                                <li>
                                                    <input type="text" name="column_name"
                                                           value="{{ t.column_name }}"
                                                           placeholder="栏目名称" data-easyform="null;">
                                                    <input type="checkbox" name="show_name"
                                                            {% if t.is_show_name %}
                                                           checked{% endif %}
                                                           onclick="set_show_name(this)"
                                                           data-easyform="null;" value="1"> 显示
                                                </li>
                                                <li style="border-bottom: dashed 2px #D3D4D3;">
                                                    <input type="checkbox" name="show_icon"
                                                            {% if t.is_show_icon %}
                                                           checked{% endif %}
                                                           data="{{ t_id }}" data-easyform="null;"
                                                           onclick="show_upload_button(this)"
                                                           value="1">
                                                    显示图标
                                                    <button id="uploader_desc-{{ t_id }}"
                                                            {% if is_show_icon %}
                                                            style="display: none;" {% endif %}
                                                            type="button"
                                                            class="btn btn-minier margin-left-10"
                                                            data="{{ t_id }}">
                                                        <i class="icon-picture">上传图标</i>
                                                    </button>
                                                    <button id="uploader_button-{{ t_id }}"
                                                            type="button"
                                                            onclick="upload_icon(this)"
                                                            {% if not is_show_icon %}
                                                            style="display: none;" {% endif %}
                                                            class="btn btn-minier btn-success margin-left-10"
                                                            data="{{ t_id }}">
                                                        <i class="icon-picture">上传图标</i>
                                                    </button>
                                                    <div id="uploader_contents-{{ t_id }}"
                                                         class="uploader_contents"
                                                         style="margin:10px 20px;">
                                                        {% if icon_url %}
                                                            <img src="{{ icon_url }}">
                                                        {% endif %}
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="{{ static_url("images/tpl/{}".format(template_code_list[t.template_code]["tpl"])) }}">
                                                </li>
                                            </ul>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-sm-12">
                                    <a href="javascript:show_group_templates('{{ url_for('.group_template_view') }}')"
                                       class="btn" id="select-group-templates"
                                       data-easytip="position:right;class:easy-blue;"
                                       data-easytip-message="必须设置一个栏目选项"> <i
                                            class=" icon-plus bigger-130"></i>选择模板</a>
                                </div>

                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="button" id="form_submit">
                                    <i class="icon-long-arrow-right bigger-110"></i>
                                    下一步,继续
                                </button>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ static_url('jquery/chosen/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/pages/group.js') }}"></script>
{% endblock %}

{% block tail %}{% endblock %}