{% import 'order/lib.html' as orderlib with context %}
{% extends 'base.html' %}
{% block head_css %}
    <link href="{{ static_url('jquery/chosen/chosen.css') }}" rel="stylesheet">
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('jquery/datetimerpacker/jquery.datetimepicker.css') }}">
{% endblock %}

{% block breadcrumb %}
    {{ super() }}
        <li class="active">订单管理</li>
{% endblock %}

{% block page_content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="alert alert-block">
                        <form class="form-inline all_query_kwargs">
                            <label class="inline">
                                <span class="lbl">订单号</span>
                                <input type="text" name="order_no"
                                       value="{{ query_kwargs.order_no|default("", True) }}"/>
                            </label>
                            <label class="inline margin-left-10">
                                <span class="lbl">手机号</span>
                                <input type="text" name="receiver_phone" id="query_phone"
                                       value="{{ query_kwargs.receiver_phone|default("", True) }}"/>
                            </label>

                            <label class="inline margin-left-10">
                                <span class="lbl">下单时间</span>
                                <input type="text" class="query_time" placeholder="开始时间"
                                       value="{{ query_kwargs.start_time|default("", True) }}"
                                       name="start_time"/>
                                <input type="text" class="query_time" placeholder="结束时间"
                                       value="{{ query_kwargs.end_time|default("", True) }}"
                                       name="end_time"/>
                            </label>
                        {% if handler.session["user"]["user_model"] == "admin" %}
                            <label class="inline margin-left-10">
                                <span class="lbl">流水号</span>
                                <input type="text" name="trade_no"
                                       value="{{ query_kwargs.trade_no|default("", True) }}"/>
                            </label>
                            <label class="inline">
                                <span class="lbl">渠道</span>
                                <select class="chosen-select col-xs-10 col-sm-4 width-15"
                                        id="channel_code"
                                        name="channel_code"
                                        data-placeholder=" ">
                                    <option value="">&nbsp;</option>
                                    {% for v in channel_codes %}
                                        <option value="{{ v.channel_code }}"
                                                {% if query_kwargs.channel_code == v.channel_code %}selected{% endif %}>{{ v.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <label class="inline  margin-left-10">
                                <span class="lbl">供应商</span>
                                <select class="chosen-select col-xs-10 col-sm-4 width-15"
                                        id="supplier_id"
                                        name="supplier_id"
                                        data-placeholder=" ">
                                    <option value="">&nbsp;</option>
                                    {% for v in suppliers %}
                                        <option value="{{ v.id }}"
                                                {% if query_kwargs.supplier_id == v.id|string %}selected{% endif %}>{{ v.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        {% endif %}
                            <button type="submit" class="btn btn-info btn-sm margin-left-10">
                                查询
                            </button>
                        </form>
                    </div>

                    <div class="col-xs-12">
                        <div class="tabbable">
                            <ul class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">
                            {% for tab in tabs_list %}
                                {% set is_active = query_kwargs.query_type == tab.query_type %}
                                <li {% if is_active %}class="active"{% endif %}>
                                    <a href="{{ url_for('.list_view', query_type=tab.query_type) }}">
                                        <span class="bigger-110">{{ tab.name }}</span>
                                        <span class="badge badge-pink">
                                            {% if is_active %}
                                                {{ count }}
                                            {% endif %}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>

                            <div class="table-responsive margin-top-20">
                                <table class="table table-striped table-bordered table-hover order-tb">
                                    <thead>
                                    <tr>
                                        <th></th>
                                       {% for column in column_list %}
                                            <th class="{{ column_widget_args.get(column).class }}">{{ column_labels.get(column, column) }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                        {{ orderlib.ToList(data, column_list, column_labels, channel_tables) }}
                                    </tbody>
                                </table>

                            </div>
                            <div class="page-no-content">
                                {{ layout.pager(page, num_pages, pager_url) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ static_url('jquery/datetimerpacker/jquery.datetimepicker.full.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('jquery/chosen/chosen.jquery.min.js') }}"></script>
{% endblock %}
{% block tail %}
    {{ super() }}
    <script type="text/javascript">
        jQuery(function ($) {
            $('.query_time').datetimepicker({yearStart:2016 });
            $(".chosen-select").chosen();
        });

    </script>
{% endblock %}

